In [1]:
import pandas as pd

In [2]:
country=pd.read_csv('covid_confirmed_daily_updates.csv')

In [3]:
confirmed=pd.read_csv('confirm_predict.csv')
deaths=pd.read_csv('death_predict.csv')
recovered=pd.read_csv('recover_predict.csv')

In [4]:
confirmed=confirmed[['0']]
deaths=deaths[['0']]
recovered=recovered[['0']]

In [5]:
confirmed.columns=[['Confirmed']]
deaths.columns=[['Death']]
recovered.columns=[['Recovered']]

In [6]:
country=country[['Country/Region']]

In [7]:
result=pd.concat([country, confirmed, recovered, deaths], axis=1, sort=False)

In [8]:
result

          Country/Region  (Confirmed,)  (Recovered,)  (Death,)
0            Afghanistan            23             1         0
1                Albania            47             0         0
2                Algeria            49             1         1
3                Andorra            30             1         0
4    Antigua and Barbuda             1             0         0
..                   ...           ...           ...       ...
150              Uruguay            30             0         0
151           Uzbekistan            17             0         0
152            Venezuela            26             0         0
153              Vietnam            56             3         0
154               Zambia             1             0         0

[155 rows x 4 columns]

In [9]:
result.columns=[['Country/Region', 'Confirmed', 'Recovered', 'Death']]

In [10]:
result

          Country/Region Confirmed Recovered Death
0            Afghanistan        23         1     0
1                Albania        47         0     0
2                Algeria        49         1     1
3                Andorra        30         1     0
4    Antigua and Barbuda         1         0     0
..                   ...       ...       ...   ...
150              Uruguay        30         0     0
151           Uzbekistan        17         0     0
152            Venezuela        26         0     0
153              Vietnam        56         3     0
154               Zambia         1         0     0

[155 rows x 4 columns]

In [11]:
result.to_excel('prediction 21st march.xlsx')